*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(Gallery/Images/life3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

/* Here is the styling of the menu tab */
.header-logo{
    background-color: rgba(45, 49, 252, 0.507);
    height: 78px;
    width:100%;
    position: fixed;
    color:#fff;
    text-align: center;
}


.header-logo h3{
    float: left;
    padding-left: 40px;
    padding-top: 20px;
    font-size: 30px;
}

.header-logo ul{
    margin-left: 700px;
    font-family: cursive;
}
.header-logo li{
    float:left;
    font-size: 20px;
    padding: 25px 20px;
    font-weight: bold;
    list-style:none;
}

.header-logo ul li:hover{
    background-color: rgba(131, 139, 250, 0.541);
    cursor: pointer;
    border-radius: 5px;
}

.header-logo ul li a{
    text-decoration: none;
    color: #fff;
}

/* top QUOTES styling is done here */

.main{
    padding-top: 120px;
}
.main-quotes-text {
    color: #000000;
    background-color: rgba(211, 204, 204, 0.719);
    border-radius: 20px;
    padding: 0 0 70px 0;
    margin: 0 200px;
}
.main-quotes-text h1{
    padding:50px;
    padding-bottom: 0px;
    text-align: center;
    font-family: cursive;
}
.main-quotes-text h3{
    float:right;
    margin-right: 100px;
    font-size: 25px;
    font-family:monospace;
    font-style: italic;
}

/* Styling of the events */

.main-upcoming-events{
    margin: 50px 50px;
}
.main-upcoming-events img{
    height: 30%;
    width: 30%;
    float: left;
}
.main-upcoming-events p{
    font-size: 20px;
    padding: 50px;
    margin-left: 500px;
    background-color: rgba(158, 158, 158, 0.575);
}
.main-upcoming-events span{
    font-size: 40px;
    font-weight: bold;
}
