.header-logo{
    background-color: rgb(252, 45, 45);
    height:60px;
    color:#fff;
    margin-top: -16px;
    margin-left: -15px;
}

.header-logo h3{
    float: left;
}
.header-logo li{
    float:right;
    padding:20px 10px;
    list-style:none;
}
.header-list{
    text-align: right;
}
.header-logo h3{
    padding-left: 20px;
    padding-right: 20px;
}
.header-list li:hover{
    background-color: rgb(255, 105, 105);
    cursor: pointer;
}

body{
background-image: url("life.jpg");

height: 500px;
width:1528px;
}
